* {
    box-sizing: border-box;
}

body{
    margin: 0;
	padding: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    background: linear-gradient(to bottom, #124d4b, #0a9696, #57d7e0);
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

.container{
    width: 350px;
    height: 500;
	background-color: rgb(180, 207, 212);
	overflow: hidden;
	border-radius: 10px;
    padding: 5px 20px 15px 20px;
	box-shadow: 5px 20px 50px #000;
}

h1{
    text-align: center;
}

.input_name{
    width: 90%;
    position:relative;
    margin: 20px auto ;

}

.material-symbols-outlined{
    padding: 8px 11px; 
}

.name{

    width: 45%;
    padding: 8px 0 8px 40px;
    border: 1cap solid;
    border-radius: 4px;
    background-color: rgb(180, 207, 212);

}

.last{
    margin-left: 20px;
}

.email,.password{
    width: 100%;
    padding: 8px 0 8px 40px;
    border: 1cap solid;
    border-radius: 4px;
    background-color: rgb(180, 207, 212);
}

.input_name span{
    position: absolute;
    font-size: 18px;
    color: #781b81;
    border-right: 1px solid;
}

input[type="submit"]:hover{
    background-color: #95d2d0;
    cursor: pointer;
}

input[type="radio"],input[type="checkbox"]:hover{
    cursor: pointer;
}

.country,.button{
    background-color: rgb(180, 207, 212);
    border-radius: 3px;
}
.country{
    border: 2px solid;
}

